.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 14px;
}
.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}
.navbar_top > a img {
  margin-right: 76px;
  width: 100px;
}
.navbar_top .nav_search_frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 651px;
  height: 50px;
  background-color: white;
  border-radius: 6px;
}

.navbar_top .search_box1 {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: auto;
  height: auto;
  padding: 10px 15px;
}
.navbar_top .select {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}
.select select {
  width: 140px;
  height: 22px;
  border: none;
  outline: none;
}
.search_box1 input {
  width: 387px;
  height: 22px;
  margin-left: 10px;
  outline: none;
  border: none;
}
.search_icon_box {
  background-color: #f5c34b;
  width: 57px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_icon_box img {
  width: 23px;
  height: 23px;
}
.navbar_top .nav_search_menu {
  width: 416px;
  height: 5opx;
  margin-left: 59px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_top_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.box_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.box_icon img {
  width: 25px;
  height: 25px;
}
.box_info {
  display: flex;
  flex-direction: column;
}
.box_info span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffff;
}

.navbar_bot {
  width: 100%;
  height: 35px;
}
.home_page {
  padding: 60px;
  display: flex;
  flex-direction: column;
}
.white_svg {
  filter: brightness(0) invert(1);
}

.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container.category_top span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;
  color: #041e42;
}
.container.category_top a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  color: #041e42;
}
.container.category_top a:hover {
  border-bottom: 2px solid #041e42;
}
.container .next_prew_box {
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 155px;
}
.container .next_prew_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
  width: 1320px;
  height: auto;
}

.header_frame .container .header_left {
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  border-radius: 5px;
}
.header_frame .header_left .header_contant {
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.header_frame .header_contant div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #f5c34b;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header_frame .header_contant span {
  margin-top: 10px;
  width: 428px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;

  color: #ffffff;
}
.header_frame .header_contant p {
  margin-top: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.header_frame .header_contant a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 22px;
  color: #041e42;
}
.header_frame .header_contant img {
  position: absolute;
  left: 330px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  margin-left: 20px;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}
.header_frame.box_left p {
  margin: 10px 0;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.header_frame .box_left a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header_frame.box_left .hover_border {
  width: 32px;
  height: 2px;
  margin-top: 3px;
  background: #041e42;
}
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
.home_page .servise_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.servise_frame .container {
  flex-direction: row;
}
.servise_frame .container .servise_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.servise_frame .servise_box img {
  width: 35px;
  height: 35px;
}
.servise_frame .servise_box .servise_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.servise_frame .servise_content span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.servise_frame .servise_content p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  flex-direction: column;
}
.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category_top span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}
.category_top a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.category_top a:hover {
  border-bottom: 2px solid #041e42;
}
.container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.category_box .category_img_box {
  width: 100%;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.category_box span {
  margin-top: 15px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
  text-align: center;
}

/*selling product*/

.selling_product_frame {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.selling_product_frame .container {
  flex-direction: column;
}
.container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product_wrapper .next_prew_box {
  width: 35px;
}

.next_prew_box img {
  position: absolute;
  top: 50%;
}
.product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;
  display: flex;
  flex-direction: row;
}
.product_boxes .product_box {
  width: 306px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product_box .product_img_box {
  width: 100%;
  height: 280px;
}
.product_box .product_box {
  background-size: cover;
}
.product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: #0053f6;
  box-shadow: opx 5px 20px rgb(0, 83, 246, 0, 1);
  border-radius: 6px;
  margin-top: 15px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.product_img_box:hover .hover_box {
  display: flex;
}
.product_box .product_contant_box {
  width: 100%;
  height: auto;
  padding: 5px 22px;
  box-sizing: border-box;
  text-align: center;
}
.product_contant_box .product_title {
  font-family: var(--font);
  font-style: normal;
  overflow: hidden;
  height: 56px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #646974;
  text-transform: uppercase;
}
.product_contant_box .product_desc {
  margin-top: 7px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.product_contant_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 30px;
}
.review_box .box_review1 {
  width: 75.5px;
  height: 10px;
  background-image: url(../puplic/image/stars.svg);
}
.review_box .box_review2 {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  margin-left: 10px;
}
.product_contant_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price_box strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #041e42;
}
.price_box span {
  margin-left: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #626974;
  text-decoration-line: line-through;
}
.container.pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagionation_box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
}

.pagionation_box .pagionation_mane {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagionation_mane .pagination_dot {
  display: flex;
  flex-direction: row;
}
.pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.pagination_dot .dot.active {
  border: 2px solid #112137;
}

.pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
}
.adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0053f6;
  background-color: #9ba9c8;
}

/*spec product*/

.home_page .spec_product_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.spec_product_frame .container {
  flex-direction: column;
}
.container .spec_product_wrapper {
  margin-top: 35px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.spec_product_wrapper .big_product_box {
  position: relative;
  width: 664px;
  height: 368px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: #f3f5f6;
  padding: 30px;
  box-sizing: border-box;
}
.big_product_box .big_product_contand {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.big_product_contant span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.big_product_box p {
  margin: 7px 0;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.big_product_box a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.big_product_box .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}
.big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}
.spec_product_wrapper .small_product_wrapper {
  padding-left: 20px;
  margin-right: 30px;
  width: 620px;
  height: 368px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.small_product_wrapper .smal_product_box {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;
  background: #f3f5f6;
  border: 6px;
}
.smal_product_box:nth-child(odd) {
  margin-right: 20px;
}

.smal_product_box .small_product_contan {
  display: flex;
  flex-direction: column;
}
.small_product_contan strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.small_product_contan span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.smal_product_box img {
  position: absolute;
  right: 30px;
  bottom: 15px;
}
.home_page .tv_framer {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tv_framer .container {
  flex-direction: column;
}
.category_top a {
  margin-left: 30px;
}
.tv_framer .container {
  flex-direction: column;
}

.container .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tv_wrapper .tv_product_boxes {
  width: 1250px;
  height: 452px;

  display: flex;
  flex-direction: row;
}
.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.tv_product_box .product_img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home_page .event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../puplic/image/82.svg);
}
.event_frame .container {
  flex-direction: row;
  justify-content: center;
}
.container .event_contant_box {
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event_contant_box .event_tittle {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  text-transform: capitalize;
}
.event_contant_box .timer_wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}
.timer_wrapper .timer_box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.timer_box strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
}
.timer_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.event_contant_box a {
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 1px solid #ffffff;
  text-transform: capitalize;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.container .event_contant_wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}
.event_frame .event_frame .next_prew_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event_contant_wrapper .event_product_boxes {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.event_product_boxes .event_product_box {
  width: 205px;
  height: 392px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
}
.product_contant_box {
  text-align: center;
}
.product_contant_box .product_contant_box {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
