.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #443297;
}
.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 14px;
}
.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}
.navbar_top > a img {
  margin-right: 76px;
  width: 100px;
}
.navbar_top .nav_search_frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 651px;
  height: 50px;
  background-color: white;
  border-radius: 6px;
}

.navbar_top .search_box1 {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: auto;
  height: auto;
  padding: 10px 15px;
}
.navbar_top .select {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}
.select select {
  width: 140px;
  height: 22px;
  border: none;
  outline: none;
}
.search_box1 input {
  width: 387px;
  height: 22px;
  margin-left: 10px;
  outline: none;
  border: none;
}
.search_icon_box {
  background-color: #f5c34b;
  width: 57px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_icon_box img {
  width: 23px;
  height: 23px;
}
.navbar_top .nav_search_menu {
  width: 416px;
  height: 5opx;
  margin-left: 59px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_top_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.box_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.box_icon img {
  width: 25px;
  height: 25px;
}
.box_info {
  display: flex;
  flex-direction: column;
}
.box_info span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffff;
}

.navbar_bot {
  width: 100%;
  height: 35px;
}
.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header_frame .container {
  flex-direction: row;
  width: 1320px;
  height: auto;
}

.header_frame .container .header_left {
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  border-radius: 5px;
}
.header_frame .header_left .header_contant {
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.header_frame .header_contant div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #f5c34b;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header_frame .header_contant span {
  margin-top: 10px;
  width: 428px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;

  color: #ffffff;
}
.header_frame .header_contant p {
  margin-top: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.header_frame .header_contant a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 22px;
  color: #041e42;
}
.header_frame .header_contant img {
  position: absolute;
  left: 330px;
}

.header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  margin-left: 20px;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}
.header_frame.box_left p {
  margin: 10px 0;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.header_frame .box_left a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header_frame.box_left .hover_border {
  width: 32px;
  height: 2px;
  margin-top: 3px;
  background: #041e42;
}
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
.home_page .servise_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.servise_frame .container {
  flex-direction: row;
}
.servise_frame .container .servise_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.servise_frame .servise_box img {
  width: 35px;
  height: 35px;
}
.servise_frame .servise_box .servise_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.servise_frame .servise_content span {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.servise_frame .servise_content p {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.shop_category_frame .container {
  flex-direction: column;
}
.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category_top span {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}
.category_top a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.category_top a:hover {
  border-bottom: 2px solid #041e42;
}
.container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.category_box .category_img_box {
  width: 100%;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.category_box span {
  margin-top: 15px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
  text-align: center;
}
